{% extends "base.html" %}

{% block title %}
Register
{% endblock title %}

{% block main %}
<form method="post" action="{{ url_for('register') }}" enctype="multipart/form-data">
    <h2>Register</h2>
    
    <!-- Username -->
    <div>
        <label for="username" class="register-form-label">Username</label>
        <input type="text" class="register-form-control" id="username" name="username" required>
    
    
    <!-- Email -->
    <div>
        <label for="email" class="register-form-label">Email</label>
        <input type="email" class="register-form-control" id="email" name="email" required>
    
    
    <!-- Password -->
    <div>
        <label for="password" class="register-form-label">Password</label>
        <input type="password" class="register-form-control" id="password" name="password" required>
    
    
    <!-- Date of Birth -->
    
        <label for="date_of_birth" class="register-form-label">Date of Birth</label>
        <input type="date" class="register-form-control" id="date_of_birth" name="date_of_birth">
    
    
    <!-- Additional Details -->
    
        <label for="additional_details" class="regiter-form-label">Additional Details</label>
        <textarea class="register-form-control" id="additional_details" name="additional_details"></textarea>
    
    
    <!-- Profile Photo -->
    
        <label for="profile_photo" class="register-form-label">Profile Photo</label>
        <input type="file" class="register-form-control" id="profile_photo" name="profile_photo">
    
    
    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Register</button>
    
    <!-- Link to Login -->
    <p>If you already have an account, <a href="{{ url_for('login') }}">CLICK HERE</a></p>
</form>
{% endblock main %}

{% set page_class = "register-page" %}
