{% extends "base.html" %} {% block title %} Shops {% endblock title %} {% block
main %}

<!-- Men's Wear Section -->
<h1>Easy Shop <span>Men's Wear</span></h1>
<div class="grid-container">
  {% for product in men_products %}
  <div class="crd">
      <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}">
      <div class="crdText">
          <h2>{{ product.name }}</h2>
          <div class="ratings">
              {% for _ in range(product.rating) %}
              <i class="fa-solid fa-star"></i>
              {% endfor %}
              {% if product.rating < 5 %}
              <i class="fa-solid fa-star-half-stroke"></i>
              {% endif %}
          </div>
          <form action="{{ url_for('add_to_cart') }}" method="POST">
              <input type="hidden" name="product_id" value="{{ product.id }}">
              <input type="hidden" name="product_name" value="{{ product.name }}">
              <input type="hidden" name="product_price" value="{{ product.price }}">
              <input type="hidden" name="product_image" value="{{ url_for('static', filename=product.image) }}">
              <button type="submit" class="btn btn-success">Add to Cart</button>
              <button type="submit" formaction="{{ url_for('checkout') }}" name="quantity" value="1" class="btn btn-warning">Buy Now</button>
          </form>
      </div>
  </div>
  {% endfor %}
</div>

<!-- Women's Wear Section -->
<h1>Trends <span>Women's Wear</span></h1>
<div class="grid-container">
  {% for product in women_products %}
  <div class="crd">
      <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}">
      <div class="crdText">
          <h2>{{ product.name }}</h2>
          <div class="ratings">
              {% for _ in range(product.rating) %}
              <i class="fa-solid fa-star"></i>
              {% endfor %}
              {% if product.rating < 5 %}
              <i class="fa-solid fa-star-half-stroke"></i>
              {% endif %}
          </div>
          <form action="{{ url_for('add_to_cart') }}" method="POST">
              <input type="hidden" name="product_id" value="{{ product.id }}">
              <input type="hidden" name="product_name" value="{{ product.name }}">
              <input type="hidden" name="product_price" value="{{ product.price }}">
              <input type="hidden" name="product_image" value="{{ url_for('static', filename=product.image) }}">
              <button type="submit" class="btn btn-success">Add to Cart</button>
              <button type="submit" class="btn btn-warning">Buy Now</button>
          </form>
      </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
